{
  "swagger": "2.0",
  "info": {
    "version": "1.16",
    "title": "IPR web services documentation",
    "contact": {},
    "license": {
      "name": "Pakeitimų istorija | Release notes",
      "url": "https://iprws.esveikata.lt/templates/release_notes.html"
    }
  },
  "host": "iprws.esveikata.lt",
  "basePath": "/",
  "tags": [
    {
      "name": "Appointment",
      "description": "Registracijos REST API | Appointment REST API"
    },
    {
      "name": "Appointment state reason",
      "description": "Vizito būsenos priežasties REST API | Appointment state reason REST API"
    },
    {
      "name": "CancerPreventionProgram",
      "description": "Vėžio prevencinės programos REST API | Cancer prevention program REST api"
    },
    {
      "name": "Document type",
      "description": "Dokumentų tipo REST API | Document type REST API"
    },
    {
      "name": "Medical service",
      "description": "Sveikatos paslaugos REST API | Medical service REST API"
    },
    {
      "name": "Organization",
      "description": "Įstaigos REST API | Organization REST API"
    },
    {
      "name": "Partner",
      "description": "Partnerio REST API | Partner REST API"
    },
    {
      "name": "Patient",
      "description": "Paciento REST API | Patient REST API"
    },
    {
      "name": "Practitioner",
      "description": "Specialisto REST API | Specialist REST API"
    },
    {
      "name": "Practitioner roles",
      "description": "Specialisto rolių REST API | Practitioner role REST API"
    },
    {
      "name": "Queue",
      "description": "Eilės REST API | Queue REST API"
    },
    {
      "name": "Reception",
      "description": "Registratūros REST API | Reception REST API"
    },
    {
      "name": "Reception parameter",
      "description": "Registratūros parametro REST API | Reception parameter REST API"
    },
    {
      "name": "Referral",
      "description": "Siuntimo REST API | Referral REST API"
    },
    {
      "name": "Room",
      "description": "Registratūros kabinetų REST API | Reception rooms REST API"
    },
    {
      "name": "Slot",
      "description": "Talono REST API | Slot REST API"
    },
    {
      "name": "Slot generation",
      "description": "Slot Generation Controller"
    },
    {
      "name": "Slot offer",
      "description": "Pasiūlymo talonui REST API | Slot offer REST API"
    },
    {
      "name": "Slot type",
      "description": "Talonų tipo REST API | Slot type REST API"
    },
    {
      "name": "Speciality",
      "description": "Kvalifikacijos REST API | Speciality REST API"
    },
    {
      "name": "Workplace",
      "description": "Darbo vietos REST API | Workplace REST API"
    }
  ],
  "paths": {
    "/v1/appointmentStates/reasons": {
      "get": {
        "tags": [
          "Appointment state reason"
        ],
        "summary": "Gauti vizito būsenos priežastis | Retrieve a list of appointment state reasons",
        "operationId": "getAppointmentStateReasonsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppointmentStateReason"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/appointmentStates/reasons/{type}": {
      "get": {
        "tags": [
          "Appointment state reason"
        ],
        "summary": "Gauti vizito būsenos priežastis pagal tipą | Retrieve a list of appointment state reasons by type",
        "description": "### Tipų paaiškinimai\n* REGISTRACIJOS_PATVIRTINIMAS - būsenos pasikeitimas patvirtinus registraciją.\n* REGISTRACIJOS_ATMETIMAS - būsenos pasikeitimas atmetus registraciją.\n* TALONO_PRISKYRIMAS - būsenos pasikeitimas priskyrus taloną.\n* TALONAS_ATMESTAS_ISTAIGOS - būsenos pasikeitimas įstaigai atmetus taloną.\n* SIULOMO_LAIKO_ATSISAKYMAS - būsenos pasikeitimas atmetus siūlomą laiką.\n* ATMESTA_PACIENTO - būsenos pasikeitimas pacientui atmetus vizitą.\n* REGISTRACIJA_EILEJE - būsenos pasikeitimas registruojant į eilę.\n\n\n### Type explanations\n* REGISTRACIJOS_PATVIRTINIMAS - state change after confirming registration.\n* REGISTRACIJOS_ATMETIMAS - state change after canceling registration.\n* TALONO_PRISKYRIMAS - state change after assigning slot.\n* TALONAS_ATMESTAS_ISTAIGOS - state change after organization declining slot.\n* SIULOMO_LAIKO_ATSISAKYMAS - state change after declining suggested time.\n* ATMESTA_PACIENTO - state change after patient canceling appointment.\n* REGISTRACIJA_EILEJE - state change after registering in queue.\n",
        "operationId": "getAppointmentStateReasonsByTypeUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "type",
            "in": "path",
            "description": "Būsenos pasikeitimo tipas | State change type",
            "required": true,
            "type": "string",
            "enum": [
              "ATMESTA_PACIENTO",
              "REGISTRACIJA_EILEJE",
              "REGISTRACIJOS_ATMETIMAS",
              "REGISTRACIJOS_PATVIRTINIMAS",
              "SIULOMO_LAIKO_ATSISAKYMAS",
              "TALONAS_ATMESTAS_ISTAIGOS",
              "TALONO_PRISKYRIMAS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppointmentStateReason"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/appointments/wouldCancel": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Gauti būsimai atšauktas paciento registracijas | Get would be cancelled patient appointments",
        "description": "Grąžina sąrašą registracijų, kurios bus atšauktos registruojant pacientą į taloną paslaugai | Return a list of appointments which will be cancelled after registering patient to slot for a service",
        "operationId": "getWouldBeCancelledAppointmentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "healthcareServiceCode",
            "in": "query",
            "description": "Sveikatos paslaugos kodas | Healthcare service code",
            "required": true,
            "type": "string"
          },
          {
            "name": "patientId",
            "in": "query",
            "description": "Paciento identifikatorius | patient identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005928505
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "slotId",
            "in": "query",
            "description": "Talono identifikatorius | Slot identifier",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientAppointment"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Gauti registraciją | Get appointment",
        "operationId": "getAppointmentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Registracijos identifikatorius | Appointment identifier",
            "required": true,
            "type": "string",
            "x-example": "2114"
          },
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Kuriuos objektus papildomai grąžinti (įrašyti objektų pavadinimus atskirtus kableliais)\nPrasmingos reikšmės: referral |\nWhich object to also return (input object names separated by commas)\nValid objects: referral",
            "required": false,
            "type": "string"
          },
          {
            "name": "isCid",
            "in": "query",
            "description": "Ar tai vidinis id | Is it an internal id",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-example": false
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/cancerPrevention/appointments": {
      "get": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Gauti programos registracijas | Get program appointments",
        "operationId": "getProgramAppointmentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "iprOrganizationId",
            "in": "query",
            "description": "IPR Įstaigos Id | IPR Organization Id",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 34
          },
          {
            "name": "medicalServiceCode",
            "in": "query",
            "description": "Sveikatos paslaugos kodas | Medical service code",
            "required": false,
            "type": "string",
            "x-example": "2195"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "patientId",
            "in": "query",
            "description": "Paciento identifikatorius | patient identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1005928505
          },
          {
            "name": "receptionId",
            "in": "query",
            "description": "Registratūros identifikatorius | Reception identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 44
          },
          {
            "name": "registrationStatus",
            "in": "query",
            "description": "Registracijos būsenaGalimos reikšmės:\n* null - grąžinamos registracijos su bet kokia būsena\n* Registered - registruota\n* Cancelled - atšaukta\n\n\nAppointment status\nAllowed values:\n* null - appointments with any status are returned\n* Registered\n* Cancelled\n",
            "required": false,
            "type": "string",
            "enum": [
              "Cancelled",
              "Registered"
            ]
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          },
          {
            "name": "slotDateFrom",
            "in": "query",
            "description": "Datos intervalo pradžia, į kurį turi patekti talono laikas | The start of the date range to which the slot must fall",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2018-12-24 10:00:00"
          },
          {
            "name": "slotDateTo",
            "in": "query",
            "description": "Datos intervalo pabaiga, į kurį turi patekti talono laikas | The end of the date range to which the appointment must fall",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2018-12-30 19:00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfProgramAppointment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Sukurti programos registraciją | Create program appointment",
        "description": "## Reikalavimai | Requirements\n### Paslaugos | Medical services\n1. <span>Vienai paslaugai galima registruoti tik vieną kartą. Jeigu paslauga jau turi registraciją ir jai yra kuriamos naujos registracijos, bus paliekama pati paskutinė registracija, o visos kitos atšaukiamos.</span> A service can have no more than one appointment only. If a service already has an appointment and more appointments are created for this service, the last one will be considered valid and all previous appointments will be cancelled.\n",
        "operationId": "createProgramAppointmentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "full",
            "in": "query",
            "description": "Ar grąžinti sukurtą objektą | Whether to return the created object",
            "required": true,
            "type": "boolean",
            "x-example": true
          },
          {
            "in": "body",
            "name": "programAppointmentCreationRequest",
            "description": "Programos registracijos sukūrimo užklausa | Program appointment creation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProgramAppointmentCreationRequest"
            }
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/cancerPrevention/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Gauti programos registraciją | Get program appointment",
        "operationId": "getProgramAppointmentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Registracijos identifikatorius | Appointment identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 2114
          },
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Atšaukti programos registraciją | Cancel program appointment",
        "description": "Atšauktos registracijos vidinis id (cid) yra ištrinamas | The internal id (cid) of the cancelled appointment is deleted",
        "operationId": "cancelProgramAppointmentUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Registracijos identifikatorius | Appointment identifier",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "cancellationReasonCode",
            "in": "query",
            "description": "Registracijos atšaukimo priežasties identifikatorius\nIš registracijos būsenos priežasčių API reikia pasiimti atitinkamus priežasčių kodus.\nGalimi priežasties identifikatoriaus tipai:\n* ATMESTA_PACIENTO - atšaukia pacientas\n* TALONAS_ATMESTAS_ISTAIGOS - atšaukia įstaiga\n\n\nAppointment cancellation reason identifier\nThe appointment state reasons API should be used to get respective cancellation reason codes.\nAllowed reason identifier types:\n* ATMESTA_PACIENTO - cancelled by patient\n* TALONAS_ATMESTAS_ISTAIGOS - cancelled by organization\n",
            "required": true,
            "type": "string",
            "x-example": "RIPSR"
          },
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/cancerPrevention/slots": {
      "get": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Ieškoti laisvų programos talonų | Search for free program slots",
        "operationId": "searchSlotsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "endsTill",
            "in": "query",
            "description": "Datos intervalo pabaiga, į kurį turi patekti numatytas talono laikas | The end of the date range to which the slot must fall",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2020-05-07"
          },
          {
            "name": "medicalServiceCode",
            "in": "query",
            "description": "Sveikatos paslaugos kodas | Medical service code",
            "required": false,
            "type": "string",
            "x-example": "2195"
          },
          {
            "name": "municipalityId",
            "in": "query",
            "description": "Savivaldybės identifikatorius iš Adresų registro | Municipality identifier from the Address Register",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 461
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Įstaigos identifikatorius | Organization identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1000139194
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "practitionerId",
            "in": "query",
            "description": "Specialisto identifikatorius | Practitioner identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1002614698
          },
          {
            "name": "receptionId",
            "in": "query",
            "description": "Registratūros identifikatorius | Reception identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 44
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          },
          {
            "name": "startsFrom",
            "in": "query",
            "description": "Datos intervalo pradžia, į kurį turi patekti numatytas talono laikas | The start of the date range to which the slot must fall",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2020-05-06"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfProgramSlot"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/cancerPrevention/slots/{slotId}/reservations": {
      "patch": {
        "tags": [
          "CancerPreventionProgram"
        ],
        "summary": "Rezervuoti programos taloną | Reserve program slot",
        "operationId": "reserveSlotUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "reservationPeriod",
            "in": "query",
            "description": "Rezervavimo laikas sekundėmis | Reservation time in seconds",
            "required": false,
            "type": "integer",
            "default": 300,
            "format": "int64"
          },
          {
            "name": "slotId",
            "in": "path",
            "description": "Talono identifikatorius | Slot identifier",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/documentTypes": {
      "get": {
        "tags": [
          "Document type"
        ],
        "summary": "Gauti dokumentų tipus | Retrieve a list of document types",
        "operationId": "getDocumentTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentType"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/medicalServices": {
      "get": {
        "tags": [
          "Medical service"
        ],
        "summary": "Gauti sveikatos paslaugas | Get medical services",
        "operationId": "getMedicalServicesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "onlyChangesMadeAfter",
            "in": "query",
            "description": "Data. Jei paduota gražinamos tik tos paslaugas, kurios buvo atnaujintos nuo tos datos, o ne visą klasifikatorių | If given returns medical services that have been updated since that date and not the whole classifier",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-09-20"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfMedicalService"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/medicalServices/{medicalServiceCode}": {
      "get": {
        "tags": [
          "Medical service"
        ],
        "summary": "Gauti konkrečią sveikatos paslaugą | Get specific medical service",
        "operationId": "getMedicalServiceUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "medicalServiceCode",
            "in": "path",
            "description": "Medicinines paslaugos kodas | Medical service code",
            "required": true,
            "type": "string",
            "x-example": "2195"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MedicalService"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/medicalServices/{medicalServiceCode}/agePeriods": {
      "get": {
        "tags": [
          "Medical service"
        ],
        "summary": "Gauti amžių intervalus | Get age periods",
        "operationId": "getAgePeriodsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "medicalServiceCode",
            "in": "path",
            "description": "Medicinines paslaugos kodas | Medical service code",
            "required": true,
            "type": "string",
            "x-example": "2195"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfAgePeriod"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/medicalServices/{medicalServiceCode}/specialities": {
      "get": {
        "tags": [
          "Medical service"
        ],
        "summary": "Gauti kvalifikacijas | Get specialities",
        "operationId": "getSpecialitiesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "medicalServiceCode",
            "in": "path",
            "description": "Medicinines paslaugos kodas | Medical service code",
            "required": true,
            "type": "string",
            "x-example": "2195"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfSpeciality"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/new/receptions/{receptionId}/workplaces": {
      "get": {
        "tags": [
          "Workplace"
        ],
        "summary": "Gauti registratūros darbo vietas | Retrieve a receptions list of workplaces",
        "operationId": "getReceptionWorkplacesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "medicalServiceCodes",
            "in": "query",
            "description": "Sveikatos paslaugos kodai | Health care service codes",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Įstaigos Id | Organization Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "practitionerId",
            "in": "query",
            "description": "Specialisto Identifikatorius | Practitioner Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros Id | Reception Id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 44
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "roomId",
            "in": "query",
            "description": "Kabineto Id | Room Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "roomName",
            "in": "query",
            "description": "Kabineto numeris arba pavadinimas | Room number or name",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfWorkplace"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Workplace"
        ],
        "summary": "Sukurti darbo vietą | Create a workplace",
        "operationId": "createWorkplaceNewUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "full",
            "in": "query",
            "description": "Ar grąžinti sukurtą objektą | Whether to return the created object",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros Id | Reception Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "in": "body",
            "name": "workplaceCreationRequest",
            "description": "Darbo vietos sukūrimo užklausa | Workplace creation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkplaceCreationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/new/receptions/{receptionId}/workplaces/{id}": {
      "get": {
        "tags": [
          "Workplace"
        ],
        "summary": "Gauti registratūros darbo vietą | Retrieve a Receptions workplace",
        "operationId": "getReceptionWorkplaceUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "id",
            "in": "path",
            "description": "Darbo vietos Id | Workplace Id",
            "required": true,
            "type": "string",
            "x-example": "155"
          },
          {
            "name": "isCid",
            "in": "query",
            "description": "Ar tai vidinis id | Is it an internal id",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros Id | Reception Id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 44
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workplace"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Workplace"
        ],
        "summary": "Atnaujinti darbo vietą | Update a workplace",
        "operationId": "updateWorkplaceNewUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "id",
            "in": "path",
            "description": "Darbo vietos Id | Workplace Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros Id | Reception Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "in": "body",
            "name": "workplaceUpdateRequest",
            "description": "Darbo vietos atnaujinimo užklausa | Workplace update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkplaceUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/organizations": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Gauti įstaigas | Retrieve a list of organizations",
        "operationId": "getOrganizationsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "jarCode",
            "in": "query",
            "description": "Įstaigos JAR kodas | Organization JAR code",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationName",
            "in": "query",
            "description": "Įstaigos pavadinimas | Organization name",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "parentOrgId",
            "in": "query",
            "description": "Aukščiausio lygio tėvinės įstaigos Id | Highest level parent organization Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          },
          {
            "name": "sveidraId",
            "in": "query",
            "description": "Įstaigos SVEIDRA identifikatorius | Organization SVEIDRA identifier",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfOrganization"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/organizations/{organizationId}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Gauti įstaigą | Retrieve an organization",
        "description": "### Reikalavimai\n* isCid ir isSveidra abu negali būti true.\n* parentOrgId reikia įvesti tik, kai isCid yra true.\n\n\n### Requirements\n* isCid and isSveidra cannot both be true.\n* parentOrgId should be given only if isCid is true.\n",
        "operationId": "getOrganizationUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "isCid",
            "in": "query",
            "description": "Ar tai vidinis id | Is it an internal id",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "isSveidra",
            "in": "query",
            "description": "Ar tai sveikatos draudimo id | Is it a health insurance id",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "Įstaigos Id | Organization Id",
            "required": true,
            "type": "string",
            "x-example": "141"
          },
          {
            "name": "parentOrgId",
            "in": "query",
            "description": "Aukščiausio lygio tėvinės įstaigos Id | Highest level parent organization Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Atnaujinti įstaigą | Update an organization",
        "operationId": "updateOrganizationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "Įstaigos Id | Organization Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "organizationUpdateRequest",
            "description": "Įstaigos atnaujinimo užklausa | Organization update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationUpdateRequest"
            }
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/organizations/{organizationId}/practitioners": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Gauti IPR įstaigos darbuotojus  | Retrieve a list of IPR organization practitioners",
        "operationId": "getOrganizationPractitionersUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "IPR Įstaigos identifikatorius | IPR organization identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 124
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "practitionerId",
            "in": "query",
            "description": "Specialisto identifikatorius | Practitioner identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1000145374
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1000148896
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfPractitioner"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/patient/{patientId}/appointments": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Gauti paciento registracijas | Get patient appointments",
        "operationId": "getPatientAppointmentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Paciento identifikatorius | patient identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005928505
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientAppointment"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/patients": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Gauti paciento duomenis pagal kitus kriterijus nei identifikatorius | Get a patient by criteria other than the identifier",
        "description": "## Reikalavimai | Requirements\n1. <span>Asmens kodo reikšmė privalo tenkinti būtinas sąlygas Lietuvos asmens kodui.</span> A personal code value must meet requirements for Lithuanian personal code.\n",
        "operationId": "getPatientUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "esiNumber",
            "in": "query",
            "description": "Elektroninės sveikatos istorijos (ESI) numeris | Electronic health history number",
            "required": false,
            "type": "string",
            "maxLength": 1100,
            "minLength": 0
          },
          {
            "name": "personalCode",
            "in": "query",
            "description": "Asmens kodas | Personal code",
            "required": false,
            "type": "string",
            "pattern": "^\\d{11}$"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Patient"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/patients/{patientId}": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Gauti pacientą | Get patient",
        "operationId": "getPatientUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Paciento id | Patient id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1000092493
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Patient"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/patients/{patientId}/referrals": {
      "get": {
        "tags": [
          "Referral"
        ],
        "summary": "Gauti paciento siuntimus | Get patient referrals",
        "operationId": "getPatientReferralsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Paciento identifikatorius | Patient identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1002402541
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfReferral"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/practitioners": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Gauti specialistus iš FHIR pagal IPR organizaciją | Get practitioners from FHIR using the an IPR organization",
        "description": "## Pastabos | Notes\n1. <span>Specialistai yra grąžinami iš ESPBI specialistų katalogo, todėl nebūtinai egzistuos ir IPR struktūroje.</span> Practitioners are searched in the ESPBI structure. Thus, they may not exist in the IPR structure.\n",
        "operationId": "getPractitionersUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "IPR Įstaigos Id | IPR Organization Id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 34
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "practitionerId",
            "in": "query",
            "description": "Specialisto identifikatorius | Practitioner identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1000145374
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1000148896
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfPractitioner"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/practitioners/{practitionerId}": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Gauti specialistą iš FHIR | Get practitioner from FHIR",
        "description": "## Pastabos | Notes\n1. <span>Specialistai ieškomi ESPBI specialistų kataloge, todėl nebūtinai egzistuoja ir IPR struktūroje.</span> Practitioners are searched in the ESPBI structure. Thus, they may not exist in the IPR structure.\n",
        "operationId": "getPractitionerUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "practitionerId",
            "in": "path",
            "description": "Specialisto identifikatorius | Practitioner identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1000145374
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1000148896
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Practitioner"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/receptions": {
      "get": {
        "tags": [
          "Reception"
        ],
        "summary": "Gauti registratūras | Retrieve a list of receptions",
        "operationId": "getReceptionsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Įstaigos id | Organization id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 34
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "receptionName",
            "in": "query",
            "description": "Registratūros pavadinimas | Reception name",
            "required": false,
            "type": "string",
            "maxLength": 300,
            "minLength": 0
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvelopeOfListOfReception"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Reception"
        ],
        "summary": "Sukurti registratūrą | Create a reception",
        "operationId": "createReceptionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "full",
            "in": "query",
            "description": "Ar grąžinti sukurtą objektą | Whether to return the created object",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "in": "body",
            "name": "receptionCreationRequest",
            "description": "Registratūros sukūrimo užklausa | Reception update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceptionCreationRequest"
            }
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Reception"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/receptions/{receptionId}": {
      "get": {
        "tags": [
          "Reception"
        ],
        "summary": "Gauti registratūrą | Retrieve a reception",
        "operationId": "getReceptionUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "isCid",
            "in": "query",
            "description": "Ar tai vidinis id | Is it an internal id",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-example": false
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Įstaigos id (privalomas, jei naudojamas vidinis registratūros Id) | Organization id (required if internal reception Id is used)",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 34
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros id | Reception id",
            "required": true,
            "type": "string",
            "x-example": "44"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Reception"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Reception"
        ],
        "summary": "Atnaujinti registratūrą | Update a reception",
        "operationId": "updateReceptionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros id | Reception id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "receptionUpdateRequest",
            "description": "Registratūros atnaujinimo užklausa | Reception update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceptionUpdateRequest"
            }
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Reception"
        ],
        "summary": "Ištrinti registratūrą | Delete a reception",
        "operationId": "deleteReceptionUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros id | Reception id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "OAuth": []
          }
        ]
      }
    },
    "/v1/receptions/{receptionId}/appointments": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Gauti registracijas | Get appointments",
        "operationId": "getAppointmentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "consumerKey",
            "description": "JAR kodas | Consumer key",
            "required": false
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Registracijų identifikatoriai | Appointment identifiers",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "iprOrganizationId",
            "in": "query",
            "description": "IPR Įstaigos Id | IPR Organization Id",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 34
          },
          {
            "name": "isCid",
            "in": "query",
            "description": "Ar tai vidinis id | Is it an internal id",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-example": false
          },
          {
            "name": "isPatientArrived",
            "in": "query",
            "description": "Ar pacientas atvyko | Has patient arrived for an appointment",
            "required": false,
            "type": "boolean",
            "x-example": "false"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Puslapis | Page",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int64"
          },
          {
            "name": "patientId",
            "in": "query",
            "description": "Paciento identifikatorius | patient identifier",
            "required": false,
            "type": "integer",
            "format": "int64",
            "x-example": 1005928505
          },
          {
            "name": "receptionId",
            "in": "path",
            "description": "Registratūros identifikatorius | Reception identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 44
          },
          {
            "name": "requestor_id",
            "in": "header",
            "description": "Vartotojo identifikatorius | User identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1005911364
          },
          {
            "name": "size",
            "in": "query",
            "description": "Puslapio dydis | Page size",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int64"
          },
          {
            "name": "slotDateFrom",
            "in": "query",
            "description": "Datos intervalo pradžia, į kurį turi patekti talono laikas | The start of the date range to which the slot must fall",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2018-12-24 10:00:00"
          },
          {
            "name": "slotDateTo",
            "in": "query",
[...]
